<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
<connectionStrings>
  <clear/>
  <add name ="DictionarySql"
       providerName="System.Data.SqlClient"
       connectionString="Data source=(localdb)\mssqllocaldb;
       Initial catalog=Dictionary;
       Integrated security=true"/>
  <add name="DictionaryAccess"
       providerName="System.Data.OleDb"
       connectionString="Provider = Microsoft.ACE.OLEDB.12.0;
       Data source=Dictionary.accdb;
       "/>
</connectionStrings>
</configuration>