<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behavi">
          <!--Включить обмен http строкой-->
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Calculate.Calculator"
               behaviorConfiguration="behavi" >
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
          </baseAddresses>
       </host>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
        <endpoint address="Calculator/ep1"
               binding="wsHttpBinding"
               contract="Calculate.ICalculateContract"/>
        <endpoint address="Calculator/ep2"
               binding="wsHttpBinding"
               contract="Calculate.IDopContract"/>
        <endpoint address="Calculator/ep3"
                  binding="wsHttpBinding"
                  contract="Calculate.IPersonContract"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
